Repository searx/searx, pull requests merged in 2019-12, with the labels that each got.

#1680 Add --no-cache to tell apk to not cache packages
  Dockerfile
Labels: docker

#1628 [fix] Update xpaths for new Google results page
  searx/engines/google.py
  tests/unit/engines/test_google.py
Labels: engine

#1671 [mod] tidy oscar HTML output
  searx/templates/oscar/advanced.html
  searx/templates/oscar/base.html
  searx/templates/oscar/categories.html
  searx/templates/oscar/infobox.html
  searx/templates/oscar/languages.html
  searx/templates/oscar/macros.html
  searx/templates/oscar/navbar.html
  searx/templates/oscar/result_templates/default.html
  searx/templates/oscar/result_templates/images.html
  searx/templates/oscar/results.html
  searx/templates/oscar/search.html
  searx/templates/oscar/time-range.html
Labels: theme

#1457 [Scripts] Force upgrade requirements.
  manage.sh
Labels: core

#1615 Fix not jumping to results loaded by infinite scroll
  searx/static/plugins/js/vim_hotkeys.js
Labels: ui / ux

#1661 Fix engine spotify
  searx/engines/spotify.py
  searx/settings.yml
Labels: engine

#1623 Fix Nginx subdir URL install docs which allowed download of settings.yml
  docs/admin/installation.rst
Labels: doc
