Repository searx/searx, pull requests merged in 2020-10, with the labels that each got.

#2227 Add SepiaSearch
  searx/engines/sepiasearch.py
  searx/settings.yml
Labels: engine

#2239 [mod] preferences.py: check language setting with a regex instead of match_language
  searx/preferences.py
  searx/query.py
  searx/webadapter.py
  searx/webutils.py
Labels: core

#2241 Move the extract_text and extract_url functions to searx.utils
  searx/engines/1337x.py
  searx/engines/acgsou.py
  searx/engines/apkmirror.py
  searx/engines/archlinux.py
  searx/engines/bing.py
  searx/engines/btdigg.py
  searx/engines/deviantart.py
  searx/engines/digbt.py
  searx/engines/doku.py
  searx/engines/duckduckgo.py
  searx/engines/duckduckgo_definitions.py
  searx/engines/duckduckgo_images.py
  searx/engines/duden.py
  searx/engines/etools.py
  searx/engines/fdroid.py
  searx/engines/framalibre.py
  searx/engines/gentoo.py
  searx/engines/google.py
  searx/engines/google_images.py
  searx/engines/google_videos.py
  searx/engines/ina.py
  searx/engines/kickass.py
  searx/engines/nyaa.py
  searx/engines/piratebay.py
  searx/engines/seedpeer.py
  searx/engines/stackoverflow.py
  searx/engines/startpage.py
  searx/engines/tokyotoshokan.py
  searx/engines/torrentz.py
  searx/engines/twitter.py
  searx/engines/wikidata.py
  searx/engines/www1x.py
  searx/engines/xpath.py
  searx/engines/yahoo.py
  searx/engines/yahoo_news.py
  searx/engines/yggtorrent.py
  searx/engines/youtube_noapi.py
  searx/utils.py
  tests/unit/test_utils.py
Labels: core

#2237 Mod engines init
  docs/conf.py
  searx/webapp.py
  searx/webutils.py
Labels: core

#2244 Fix drop python2
  searx/engines/json_engine.py
  searx/utils.py
Labels: core

#2248 [fix] various fixes of searx.webadapter
  searx/search.py
  searx/webadapter.py
Labels: api, core

#2247 [fix] opensearch.xml URL contains method and autocomplete parameters
  searx/templates/__common__/opensearch.xml
  searx/templates/__common__/opensearch_response_rss.xml
  searx/templates/courgette/base.html
  searx/templates/legacy/base.html
  searx/templates/oscar/base.html
  searx/templates/simple/base.html
  searx/webapp.py
Labels: api

#2246 [mod] Add searx.data module
  searx/data/__init__.py
  searx/engines/__init__.py
  searx/engines/currency_convert.py
  searx/external_bang.py
  searx/utils.py
Labels: core, data

#1181 Ebay engine in shopping category
  searx/engines/ebay.py
  searx/settings.yml
  searx/templates/oscar/result_templates/products.html
Labels: engine

#2254 [fix] fix duckduckgo engine
  searx/engines/duckduckgo.py
Labels: engine

#2265 Fix typos in documentation
  docs/build-templates/filtron.rst
  docs/build-templates/searx.rst
  utils/templates/etc/uwsgi/apps-available/searx.ini
Labels: doc

#1246 [enh] add plugin converting strings into hash digests
  AUTHORS.rst
  searx/plugins/__init__.py
  searx/plugins/hash_plugin.py
  tests/unit/test_plugins.py
Labels: enhancement, plugin

#565 New category: Onions
  .gitignore
  searx/data/ahmia_blacklist.txt
  searx/engines/__init__.py
  searx/engines/ahmia.py
  searx/engines/not_evil.py
  searx/engines/xpath.py
  searx/plugins/__init__.py
  searx/plugins/ahmia_filter.py
  searx/settings.yml
  searx/templates/legacy/result_templates/default.html
  searx/templates/oscar/macros.html
  searx/templates/oscar/preferences.html
  searx/webapp.py
  tests/unit/engines/test_xpath.py
  tests/unit/test_engines_init.py
  utils/fetch_ahmia_blacklist.py
Labels: core, engine, enhancement

#2224 [enh] update infobox engines
  searx/data/__init__.py
  searx/data/external_urls.json
  searx/data/wikidata_units.json
  searx/engines/duckduckgo_definitions.py
  searx/engines/wikidata.py
  searx/external_urls.py
  searx/results.py
  searx/templates/oscar/infobox.html
  searx/templates/simple/infobox.html
  searx/utils.py
  utils/fetch_wikidata_units.py
Labels: engine
